* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
.box {
  border: 2px solid #333;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.box1 {
  width: 200px;
  height: 150px;
  background-color: #007bff;
}

.box2 {
  width: 40%;
  height: 20vh;
  min-height: 100px;
  background-color: #28a745;
  overflow: auto;
}
.box3 {
  width: 20em;
  max-width: 300px;
  height: 25vh;
  background-color: #ff9800;
}
